.filmInfo{
	width: 250px;
	height: 380px;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 5px;
}

.filmItem{
	width: 250px;
	height: 380px;
	margin: 5px;
}
.title{
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: #503131;
}
