.filmPage {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
}

.filmItem {
  width: 250px;
  height: 380px;
  margin: 5px;
}
.title {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.paginator {
  margin: 0 auto;
}
