.like{
	color: #E0DBDB;
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	margin: 5px 0 0 0;
	z-index: 10;
}

.like:hover{
	color: #FF5656;
}

.active{
	color: #FF5656;
}