.container{
	padding: 5px 5px 50px 5px;
	display: grid;
	grid-template-columns: 400px 180px 220px auto 35px;
	grid-template-rows: 99px 68px 25px 0,5fr 190px;
	grid-template-areas: 
		'header header header header header'
		'poster name name . like'
		'poster rating rating . like'
		'poster props value . like'
		'poster descriotion descriotion descriotion descriotion';
}

.back{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #503131;
}

.dark{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.header{
	grid-area: header;
	padding: 20px 5px 20px;
}

.poster{
	grid-area: poster;
	margin: 0 20px 0 0;
}

.fuckYou{
	width: 380px;
	height: 573px;
	border: 1px solid #503131;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;		
}

.name{
	grid-area: name;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 34px;
	letter-spacing: 0.5px;
}

.rating{
	grid-area: rating;
	display: flex;
	justify-content: left;
}

.props{
	grid-area: props;
	margin: 0;
}

.props_name{
	margin: 0 0 15px;
	display: block;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 21px;
}

.value{
	grid-area: value;
	margin: 0;
}

.value_name{
	margin: 0 0 15px;
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 21px;
}

.descriotion{
	grid-area: descriotion;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 31px;
}

.like{
	grid-area: like;
}